@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=Kalam:wght@300&family=Lora&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Login page styles */
.login-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  align-items: center;
}
.login-page .login-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #BBE6E4;
  background-position: center;
  z-index: -1;
  animation: backgroundAnimation 12s infinite;
}
.login-page .login-background:after {
  content: " ";
  position: absolute;
  transition: 1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b4144;
  opacity: 0.65;
}
@keyframes backgroundAnimation {
  0% {
    background-image: url("images/6.jpg");
  }
  50% {
    background-image: url("images/1.jpg");
  }
  100% {
    background-image: url("images/5.jpg");
  }
}
.login-page .form-wrapper {
  z-index: 1;
}
.login-page .form-wrapper .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vh;
}
.login-page .form-wrapper .input-wrapper {
  width: 100%;
  margin-bottom: 1.5rem;
}
.login-page .form-wrapper .input-wrapper input {
  background-color: rgba(92, 107, 115, 0.5529411765);
  padding: 1.3rem;
  font-size: 1.1rem;
  font-family: "Lora", serif;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
}
.login-page .form-wrapper .input-wrapper input:focus {
  outline: none;
  background-color: #5C6B73;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login-page .form-wrapper .input-wrapper input::-moz-placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.login-page .form-wrapper .input-wrapper input::placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}

.login-logo {
  padding: 15vh 0 9vh 0;
}
.login-logo .logo-text {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
}

.button, .contacts-cont .contacts-card .btn, .profile-cont .bg-secondary-soft .btn, .main-stat-wrap .main-stat-rat-subcont .rat-title-cont .button-block button, .forgot-password-btn, .login-btn {
  border: none;
  outline: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  border-radius: 20px;
  font-family: "Lora", serif;
}

.login-btn {
  padding: 0.6em 2em;
  position: relative;
  z-index: 0;
  touch-action: manipulation;
  font-size: 1.1rem;
  width: 100%;
  height: 6vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
  border-radius: 20px;
}

.login-btn:before {
  content: "";
  background: linear-gradient(45deg, #b7094c, #723c70, #455e89, #1780a1, #62b6cb, #b5179e, #b7094c);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.login-btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b7094c;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  left: 0;
  top: 0;
  border-radius: 20px;
}

.forgot-password-btn {
  background: transparent;
  box-sizing: border-box;
  color: #AEC3B0;
  font-size: 1rem;
  padding-top: 1rem;
}

.forgot-password-btn:hover {
  color: #F0F6F6;
}

@media only screen and (max-width: 440px) {
  .login-page .login-form {
    width: 35vh;
  }
  .login-logo h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-height: 730px) {
  .login-logo {
    padding: 20vh 0 12vh 0;
  }
}
.header {
  min-width: 270px;
  padding-right: 0.75rem;
  background-color: #5C6B73;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  z-index: 1000;
  left: 0%;
  top: 0%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.logo-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-cont .logo-text {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  font-size: 3.5rem;
}
@media screen and (max-width: 620px) {
  .logo-cont .logo-text {
    padding-top: 1rem;
  }
}
@media screen and (max-width: 415px) {
  .logo-cont .logo-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 370px) {
  .logo-cont .logo-text {
    font-size: 2rem;
  }
}
.logo-cont .logo-text:hover {
  transition: 3s;
  color: #BBE6E4;
}
@media screen and (max-width: 620px) {
  .logo-cont {
    flex-direction: column;
  }
}

.username-block {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  padding: 0.35rem 0.75rem;
  color: #F0F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: lighter;
}
@media screen and (min-width: 415px) and (max-width: 620px) {
  .username-block {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 415px) {
  .username-block {
    font-size: 0.95rem;
  }
}
@media screen and (max-width: 370px) {
  .username-block {
    flex-direction: column;
  }
}

.rating-mark-block {
  padding: 0.35rem 0.75rem;
  margin: 0.75rem;
  font-weight: bold;
  font-family: "Lora", serif;
  background-color: #BBE6E4;
  border-radius: 20px;
  border: none;
  font-size: 1.1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
  transition: box-shadow 0.3s;
  color: #253237;
}
@media screen and (max-width: 620px) {
  .rating-mark-block {
    font-size: 0.95rem;
  }
}

.fa-star {
  color: #b7094c;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #253237;
}
@media screen and (max-width: 415px) {
  .fa-star {
    font-size: 0.95rem;
  }
}

.fa-gem {
  color: #42BFDD;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #253237;
}

html a {
  text-decoration: none !important;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.custom-navb {
  z-index: 100;
  width: 40vh;
  height: 100vh;
  position: fixed;
  background-color: #5C6B73;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-height: 0;
  transition: max-height 0.5s ease-out;
}
.custom-navb a {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  display: block;
  padding: 0.75rem;
  color: #F0F6F6;
}
.custom-navb a:hover {
  color: #BBE6E4;
  transition: 3s;
}
.custom-navb a i {
  padding: 0.2rem 1rem 0.2rem 0;
}
.custom-navb ul {
  padding-left: 1rem !important;
}
.custom-navb ul hr {
  color: #F0F6F6;
}
@media screen and (min-width: 370px) and (max-width: 620px) {
  .custom-navb {
    width: 100%;
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 370px) {
  .custom-navb {
    width: 100%;
    font-size: 0.95rem;
  }
}

.menu hr {
  width: 85%;
  margin: 2rem auto 0 auto;
}

main {
  background-color: #F0F6F6;
  min-width: 270px;
  padding: 5rem 0.75rem;
}
@media screen and (max-width: 620px) {
  main {
    padding: 10rem 0.75rem;
  }
}

.hamb {
  cursor: pointer;
  float: left;
  padding: 2.15rem 1rem;
}
@media screen and (max-width: 415px) {
  .hamb {
    padding: 1.45rem 0.6rem;
  }
}

.hamb-line {
  background: #F0F6F6;
  display: block;
  height: 3px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background: #F0F6F6;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 8px;
}
@media screen and (max-width: 415px) {
  .hamb-line::before {
    top: 6px;
  }
}

.hamb-line::after {
  top: -8px;
}
@media screen and (max-width: 415px) {
  .hamb-line::after {
    top: -6px;
  }
}

.side-menu {
  display: none;
}
.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.main-stat-cont, .main-stat-wrap .main-stat-place-cont {
  min-width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.main-stat-subcont, .stat-chart .stat-chart-subcont, .main-stat-wrap .main-stat-rat-subcont {
  width: 85%;
  padding: 0.75rem;
  margin: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h2-place {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  color: #253237;
  font-size: 2.5rem;
  text-shadow: 2px 1px 0 #AEC3B0;
  font-family: "Amatic SC", cursive;
}

.main-stat-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 4rem;
}
.main-stat-wrap .main-stat-cont-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1211px) {
  .main-stat-wrap .main-stat-cont-wrap {
    flex-direction: column;
  }
}
@media screen and (min-width: 1211px) and (max-width: 1430px) {
  .main-stat-wrap {
    flex-direction: column;
  }
}
@media screen and (min-width: 994px) and (max-width: 1211px) {
  .main-stat-wrap {
    align-items: flex-start;
  }
}
@media screen and (max-width: 1490px) {
  .main-stat-wrap {
    justify-content: center;
  }
}
@media screen and (max-width: 530px) {
  .main-stat-wrap {
    padding: 2rem;
  }
}
.main-stat-wrap .main-stat-place-cont {
  display: flex;
  gap: 1rem 0;
  flex: 10%;
}
@media screen and (min-width: 1211px) and (max-width: 1490px) {
  .main-stat-wrap .main-stat-place-cont {
    flex-direction: row;
    width: 85%;
  }
}
@media screen and (min-width: 612px) and (max-width: 994px) {
  .main-stat-wrap .main-stat-place-cont {
    flex-direction: row;
  }
}
.main-stat-wrap .main-stat-place-cont .main-stat-subcont, .main-stat-wrap .main-stat-place-cont .stat-chart .stat-chart-subcont, .stat-chart .main-stat-wrap .main-stat-place-cont .stat-chart-subcont, .main-stat-wrap .main-stat-place-cont .main-stat-rat-subcont {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.45rem 0.75rem;
}
@keyframes animation-diam {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
.main-stat-wrap .main-stat-place-cont .main-stat-subcont .place-wrap, .main-stat-wrap .main-stat-place-cont .stat-chart .stat-chart-subcont .place-wrap, .stat-chart .main-stat-wrap .main-stat-place-cont .stat-chart-subcont .place-wrap, .main-stat-wrap .main-stat-place-cont .main-stat-rat-subcont .place-wrap {
  margin: 0.75rem;
  background-color: #42BFDD;
  -webkit-clip-path: polygon(75% 0, 100% 30%, 50% 100%, 0 30%, 25% 0);
          clip-path: polygon(75% 0, 100% 30%, 50% 100%, 0 30%, 25% 0);
  width: 9rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  color: #F0F6F6;
  font-size: 1.5rem;
  padding-top: 2rem;
  text-shadow: 1px 1px 1px #253237;
  animation: animation-diam 5s infinite;
}
.main-stat-wrap .main-stat-place-cont .main-stat-subcont .place-wrap:hover, .main-stat-wrap .main-stat-place-cont .stat-chart .stat-chart-subcont .place-wrap:hover, .stat-chart .main-stat-wrap .main-stat-place-cont .stat-chart-subcont .place-wrap:hover, .main-stat-wrap .main-stat-place-cont .main-stat-rat-subcont .place-wrap:hover {
  background-color: #FF66B3;
  transition: 2s;
}
.main-stat-wrap .main-stat-place-cont .main-stat-subcont .wr2:hover, .main-stat-wrap .main-stat-place-cont .stat-chart .stat-chart-subcont .wr2:hover, .stat-chart .main-stat-wrap .main-stat-place-cont .stat-chart-subcont .wr2:hover, .main-stat-wrap .main-stat-place-cont .main-stat-rat-subcont .wr2:hover {
  background-color: #42BFDD !important;
}
.main-stat-wrap .main-stat-rat-subcont {
  width: 95%;
  height: 32.5rem;
  padding: 0.75rem 1.5rem;
}
.main-stat-wrap .main-stat-rat-subcont .rat-title-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-stat-wrap .main-stat-rat-subcont .rat-title-cont .button-block button {
  background: transparent;
  box-sizing: border-box;
  color: #AEC3B0;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  color: #AEC3B0;
  transition: 1s;
  padding-top: 1rem;
}
.main-stat-wrap .main-stat-rat-subcont .rat-title-cont .button-block button:hover, .main-stat-wrap .main-stat-rat-subcont .rat-title-cont .button-block button.active {
  color: #253237;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .rat-title-cont {
    flex-direction: column;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat {
  height: 25.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0.75rem 0;
  padding-right: 0.3rem;
  list-style-position: inside;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat {
    height: 21rem;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat ol {
  padding: 0 !important;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  font-size: 1.1rem;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat {
    font-size: 0.9rem;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat li, .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat b {
  flex: 25%;
  text-align: start;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .mark-div {
  flex: 4%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block0, .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block3, .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block2 {
  padding: 0.1rem 0.75rem;
  font-weight: bold;
  margin: 0.15rem;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  transition: box-shadow 0.3s;
  color: #253237;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block0, .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block3, .main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block2 {
    font-size: 0.9rem;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block2 {
  background-color: #BBE6E4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
  transition: box-shadow 0.3s;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .self-stud-rat .rating-mark-block3 {
  background-color: #ffc8dd;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
  transition: box-shadow 0.3s;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day {
  text-align: left;
  margin-bottom: 0.75rem;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day h2 {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  padding: 0.35rem 0.75rem;
  color: #F0F6F6;
  padding: 0 0.75rem;
  color: #253237;
  margin-bottom: 0;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text {
  width: 70%;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text {
    width: 60%;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text p {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  margin-bottom: 0 !important;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text p:nth-child(1) {
  font-size: 1.15rem;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text p:nth-child(1) {
    font-size: 1rem;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text p:nth-child(2) {
  font-size: 1rem;
  color: #5C6B73;
}
@media screen and (max-width: 530px) {
  .main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text p:nth-child(2) {
    font-size: 0.9rem;
  }
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .mark-day-box-text .bad-m-text {
  color: #b7094c;
}
.main-stat-wrap .main-stat-rat-subcont .stud-rat .stud-mark-day .mark-day-box .bad-m-icon {
  background-color: #ffc8dd;
}

body {
  background-color: #F0F6F6;
}

.motivation-block-wrap {
  background-color: #F0F6F6;
  height: 10vh;
  min-width: 270px;
}

.motivation-block {
  color: #F0F6F6;
  -webkit-clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 29%, 100% 0, 100% 100%, 0% 100%);
  background-color: #253237;
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
  font-family: "Lora", serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 4rem 4rem 2rem 4rem;
  margin: -2rem 0 4rem 0;
}
@media screen and (max-width: 560px) {
  .motivation-block {
    flex-direction: column;
    font-size: 30px;
  }
}

#flip {
  height: 65px;
  overflow: hidden;
}

#flip > div > div {
  animation: fadeIn 3s;
  padding: 0px 2rem 2rem 2rem;
  margin-left: 3rem;
  height: 55px;
  letter-spacing: 10px;
  font-family: "Amatic SC", cursive;
  margin-bottom: 55px;
  display: inline-block;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #2EE59D;
}

#flip div:first-child div {
  background: #42BFDD;
}

#flip div:last-child div {
  background: #b7094c;
}

@keyframes show {
  0% {
    margin-top: -250px;
  }
  5% {
    margin-top: -215px;
  }
  33% {
    margin-top: -215px;
  }
  38% {
    margin-top: -105px;
  }
  66% {
    margin-top: -105px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -250px;
  }
}
.stat-chart {
  background-color: #F0F6F6;
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  min-width: 270px;
  width: 100%;
  text-align: start;
  padding: 9rem 0 4rem 0;
}
.stat-chart .stat-chart-subcont {
  animation: fadeIn 3s;
}
.stat-chart .stat-chart-subcont .rat-title-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.75rem;
  margin-bottom: 0;
}
@media screen and (max-width: 466px) {
  .stat-chart .stat-chart-subcont .rat-title-cont {
    flex-direction: column;
  }
}
.stat-chart .stat-chart-subcont .stat-chart-mark {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 560px) {
  .stat-chart .stat-chart-subcont .stat-chart-mark {
    align-self: center;
  }
}
.stat-chart .stat-chart-subcont img {
  padding: 3rem 0.75rem;
  width: 70%;
  float: left;
}
@media screen and (max-width: 560px) {
  .stat-chart .stat-chart-subcont img {
    width: 100%;
  }
}

.site-footer {
  min-width: 270px;
  background-color: #5C6B73;
  color: #F0F6F6;
  padding: 2rem;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  font-size: 1rem;
  color: #F0F6F6;
}
@media screen and (max-width: 1200px) {
  .site-footer {
    padding: 1rem;
  }
}
@media screen and (max-width: 530px) {
  .site-footer {
    text-align: left;
  }
}
.site-footer .logo-text {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
}
.site-footer hr {
  border-top-color: #F0F6F6;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer .child1 {
  color: #b7094c;
}
.site-footer .child2 {
  color: #42BFDD;
}
.site-footer a {
  color: #F0F6F6;
}
.site-footer a:hover {
  color: #BBE6E4;
  transition: 1s;
  text-decoration: none;
}
.site-footer .copyright-text {
  color: #42BFDD;
  font-family: "Amatic SC", cursive;
  font-size: 1.5rem;
}
.site-footer .footer-links {
  padding-left: 0;
  list-style: none;
  font-size: 1.2rem;
  padding-top: 4px;
}
@media screen and (max-width: 1200px) {
  .site-footer .footer-links {
    font-size: 1rem;
  }
}
.site-footer .footer-links li {
  display: block;
}
.site-footer .footer-links a:active, .site-footer .footer-links a:focus, .site-footer .footer-links a:hover {
  color: #BBE6E4;
  transition: 1s;
  text-decoration: none;
}
.site-footer .footer-links i {
  padding-right: 0.75rem;
  font-size: 1rem;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #253237;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  transition: all 0.2s linear;
}
.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #F0F6F6;
  background-color: #29aafe;
}
.social-icons a.github:hover {
  background-color: #253237;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
@media (max-width: 767px) {
  .social-icons .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #AEC3B0;
  font-weight: 700;
  font-size: 13px;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #5C6B73;
}

.my-5 {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  color: #253237;
  text-shadow: 2px 1px 0 #AEC3B0;
  font-family: "Amatic SC", cursive;
}

.profile-cont {
  background-color: #F0F6F6;
  padding: 5rem 10rem;
  min-width: 270px;
}
@media screen and (min-width: 620px) and (max-width: 1400px) {
  .profile-cont {
    padding: 5rem;
  }
}
@media screen and (max-width: 620px) {
  .profile-cont {
    padding: 8rem 2rem 2rem 2rem;
  }
}
.profile-cont .h2, .profile-cont h2 {
  font-size: 4rem;
}
@media screen and (max-width: 530px) {
  .profile-cont .h2, .profile-cont h2 {
    font-size: 3rem;
  }
}
.profile-cont .bg-secondary-soft {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn 3s;
  padding: 2rem !important;
}
.profile-cont .bg-secondary-soft .h4-place {
  color: #F0F6F6;
  font-size: 7rem;
  text-shadow: 3px 2px 0 #253237;
  font-family: "Amatic SC", cursive;
  color: #253237;
  text-shadow: 2px 1px 0 #AEC3B0;
  font-family: "Amatic SC", cursive;
}
.profile-cont .bg-secondary-soft label {
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  font-size: 1.1rem;
  padding: 0.15rem 0.75rem;
}
.profile-cont .bg-secondary-soft input {
  background-color: #5C6B73;
  padding: 1.3rem;
  font-size: 1.1rem;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
  border: none;
  font-family: "Lora", serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
}
.profile-cont .bg-secondary-soft input:focus {
  transition: 1s;
  outline: none;
  background-color: #5C6B73;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.profile-cont .bg-secondary-soft input:focus:valid {
  background-color: #42BFDD;
}
.profile-cont .bg-secondary-soft input::-moz-placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.profile-cont .bg-secondary-soft input::placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.profile-cont .bg-secondary-soft input:invalid {
  background-color: #b7094c;
}
.profile-cont .bg-secondary-soft .pass-input:invalid {
  background-color: #5C6B73;
}
.profile-cont .bg-secondary-soft .btn {
  padding: 0.6em 2em;
  position: relative;
  z-index: 0;
  touch-action: manipulation;
  font-size: 1.1rem;
  width: 200px;
  height: 6vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
  border-radius: 20px;
  margin-top: 1rem;
}
.profile-cont .bg-secondary-soft .btn:before {
  content: "";
  background: linear-gradient(45deg, #b7094c, #723c70, #455e89, #1780a1, #62b6cb, #b5179e, #b7094c);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}
.profile-cont .bg-secondary-soft .btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #253237;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.profile-cont .bg-secondary-soft .btn:hover::after {
  background-color: #42BFDD;
  transition: 1s;
}
@media screen and (max-width: 335px) {
  .profile-cont .bg-secondary-soft .btn {
    width: 150px;
  }
}
@media screen and (max-width: 280px) {
  .profile-cont .bg-secondary-soft .btn {
    width: 110px;
    padding-left: 1rem;
  }
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.contacts-cont {
  background-color: #F0F6F6;
  padding: 5rem 10rem;
  min-width: 270px;
}
@media screen and (min-width: 620px) and (max-width: 1400px) {
  .contacts-cont {
    padding: 5rem;
  }
}
@media screen and (max-width: 620px) {
  .contacts-cont {
    padding: 8rem 2rem 2rem 2rem;
  }
}
.contacts-cont .h2, .contacts-cont h2 {
  font-size: 4rem;
}
@media screen and (max-width: 530px) {
  .contacts-cont .h2, .contacts-cont h2 {
    font-size: 3rem;
  }
}
.contacts-cont .contacts-card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn 3s;
  font-family: "Lora", serif;
  font-size: 1.3rem;
  color: #253237;
  font-weight: lighter;
  text-align: justify;
  text-justify: inter-word;
}
@media screen and (max-width: 530px) {
  .contacts-cont .contacts-card {
    font-size: 1rem;
    padding: 0.75rem;
  }
}
.contacts-cont .contacts-card .contact-area {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 768px) {
  .contacts-cont .contacts-card .contact {
    margin-bottom: 60px;
  }
}
.contacts-cont .contacts-card input {
  margin: 1rem 0;
  background-color: #5C6B73;
  padding: 1.3rem;
  font-size: 1.1rem;
  width: 100%;
  height: 6vh;
  border-radius: 20px;
  border: none;
  font-family: "Lora", serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
}
.contacts-cont .contacts-card input:focus {
  transition: 1s;
  outline: none;
  background-color: #5C6B73;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contacts-cont .contacts-card input:focus:valid {
  background-color: #42BFDD;
}
.contacts-cont .contacts-card input::-moz-placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.contacts-cont .contacts-card input::placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.contacts-cont .contacts-card textarea {
  background-color: #5C6B73;
  padding: 1.3rem;
  margin: 1rem 0;
  font-size: 1.1rem;
  border-radius: 20px;
  font-family: "Lora", serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
  border: none;
}
.contacts-cont .contacts-card textarea:focus {
  transition: 1s;
  outline: none;
  background-color: #5C6B73;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contacts-cont .contacts-card textarea:focus:valid {
  background-color: #42BFDD;
}
.contacts-cont .contacts-card textarea::-moz-placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.contacts-cont .contacts-card textarea::placeholder {
  color: #F0F6F6;
  font-family: "Lora", serif;
}
.contacts-cont .contacts-card .btn {
  padding: 0.6em 2em;
  position: relative;
  z-index: 0;
  touch-action: manipulation;
  font-size: 1.1rem;
  width: 200px;
  height: 6vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  color: #F0F6F6;
  border-radius: 20px;
  margin-top: 1rem;
  float: right;
}
.contacts-cont .contacts-card .btn:before {
  content: "";
  background: linear-gradient(45deg, #b7094c, #723c70, #455e89, #1780a1, #62b6cb, #b5179e, #b7094c);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}
.contacts-cont .contacts-card .btn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #253237;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.contacts-cont .contacts-card .btn:hover::after {
  background-color: #42BFDD;
  transition: 1s;
}
@media screen and (max-width: 560px) {
  .contacts-cont .contacts-card .btn {
    float: inherit;
  }
}
@media screen and (max-width: 335px) {
  .contacts-cont .contacts-card .btn {
    width: 150px;
  }
}
@media screen and (max-width: 280px) {
  .contacts-cont .contacts-card .btn {
    width: 110px;
    padding-left: 1rem;
  }
}
.contacts-cont .contacts-card .cont-info {
  padding-top: 1rem;
}
.contacts-cont .contacts-card .cont-info .single_address {
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 0.2rem 0 0 3rem;
}
.contacts-cont .contacts-card .cont-info .single_address:hover i {
  background: #b7094c;
  color: #F0F6F6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
@media screen and (max-width: 530px) {
  .contacts-cont .contacts-card .cont-info .single_address {
    padding: 0;
  }
}
.contacts-cont .contacts-card .cont-info .single_address i {
  background: #5C6B73;
  color: #F0F6F6;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  float: left;
  margin-right: 14px;
  font-size: 22px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  transition: all 0.3s ease 0s;
}
@media screen and (max-width: 530px) {
  .contacts-cont .contacts-card .cont-info .single_address i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}
.contacts-cont .contacts-card .cont-info .single_address p {
  overflow: hidden;
  margin-top: 0.8rem;
}
@media only screen and (max-width: 768px) {
  .contacts-cont .contacts-card .single_address {
    padding-left: 0px;
  }
}/*# sourceMappingURL=style.css.map */